.landing {
    min-height: 100vh;
    min-width: 100vw;

    background-image: url('../../images/default.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.navbar-brand {
    text-decoration: none;
    color: white;
}

